<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

    {{ partial "head.html" . }}

  </head>

  <body>
    {{ partial "navigation.html" . }}
    
    {{ if .IsHome }}
    <div class="banner-container">
      <img src="{{ "/images/pb-tennis-banner.jpg" | relURL }}" alt="Pelican Bay Tennis" class="site-banner" />
      <div class="banner-overlay">
        <span class="banner-text left">Pelican Bay</span>
        <img class="banner-logo" src="{{ "/images/avatar.png" | relURL }}" alt="Tennis Logo" />
        <span class="banner-text right">Tennis Groups</span>
      </div>
    </div>
    {{ end }}

    <main class="main">
      {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
  </body>
</html>
