{{ define "main" }}
{{ partial "profile.html" . }}

<!-- Use the "top" page content as the homepage, following single.html layout structure -->
{{ with .Site.GetPage "/page/top" }}
  <section id="single">
    <h1 class="title">{{ .Title }}</h1>

    {{ if .Description }}
      <div class="tip">
        <span>{{ .Description }}</span>
      </div>
    {{ end }}

    <div class="content">
      {{ .Content }}
    </div>

    {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    {{ end}}
  </section>
{{ end }}
{{ end }}