<div class="pairings-list">
  <ul class="pairings-files">
    {{ $pairingsDir := "matchpoint-pairings" }}
    {{ $files := readDir (printf "content/%s" $pairingsDir) }}
    
    {{ if eq (len $files) 0 }}
      <p>No pairings available at this time.</p>
    {{ else }}
      {{ range sort $files "Name" "desc" }}
        {{ if and (strings.HasSuffix .Name ".pdf") (ne .Name ".DS_Store") }}
          {{ $name := replaceRE "^(.*?)\\.pdf$" "$1" .Name }}
          {{ $name := replace $name "-" " " }}
          {{ $name := title $name }}
          <li>
            <a href="/{{ $pairingsDir }}/{{ .Name }}" target="_blank">
              {{ $name }} Tennis Pairings
            </a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</div>

<style>
  .pairings-list ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .pairings-list li {
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .pairings-list li:hover {
    background-color: #e0e0e0;
  }
  
  .pairings-list a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 500;
  }
  
  .pairings-list a:hover {
    text-decoration: underline;
  }
</style>